    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header {
        background-color: red;
        height: 100px;
        width: 100%;
        display: flex;
        align-items: center; 
        justify-content: flex-start; 
        padding-left: 5px; 
        border-bottom: 4px solid; 
        color: white;
        font-size: 48px;
        font-weight: bold;
    }
    .alinhamento.esquerdo {
        margin-left: auto; 
        margin-right: 10px; 
        font-size: 24px; 
        color: white;
        font-weight: normal; 
    }

    a {
        text-decoration: none;
        color: white;
    }

    a:hover {
        color: blue;
    }

    .caixa {
        margin-top: 50px auto;
        text-align: center;
        border: 1px solid black;
        width: 400px;
        padding: 20px;
        border-radius: 10px;
        display: block;
    }

    .fonte1{
        font-family: Arial, sans-serif;
    }

    .recuo {
        margin-left: 20px;
        text-align: left;
    }

    .Enviar {
        width: 300px;
        height: 30px;
        font-size: 16px;
        background-color: rgb(207, 46, 46);
        border: none;
        color: rgba(255, 255, 255, 0.767);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .Enviar:hover {
        background-color: rgb(255, 0, 0);
        cursor: pointer;
        transition: 0.5s background;
    }
